// Zaimportowane fonty
// font-family: 'Francois One', sans-serif;
// font-family: 'Lato', sans-serif;

.t-header--huge {
    font-size: 10rem;
    text-transform: uppercase;
    text-align: center;
    color: $color-primary;
    font-weight: 200;
}
.t-header--huge--white {
    font-size: 10rem;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    font-weight: 200;
}